html{
  min-height: 100%;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-image:url(../img/cancion1.jpg) ;
  font-family: 'Montserrat', sans-serif;
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-weight: 400;
  text-align: center;
}
h2 {
  text-align: center;
}

.contenido {
  background: linear-gradient(to right, rgb(100, 43, 115), rgb(198, 66, 110));
  max-width: 800px;
  height: 100%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgb(185 191 213) 5px 4px 16px -5px
}

.formulario-busqueda p {
  text-align: center;
}
.formulario-busqueda span {
  color: red;
}

.input {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}
.input label {
  flex: 0 0 120px;
  text-align: right;
  margin-right: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}
.input span {
  color: red;
}
.input input[type="text"] {
  height: 2.5rem;
  padding: 1rem;
  display: flex;
  flex: 1;
}
.enviar {
  text-align: right;
  justify-content: flex-end!important;
  
}

.input-enviar input{
  width: 200px;
  height:30px;
  border-radius: 20px;
}

.input-enviar input:hover{
  background: linear-gradient(to right, rgb(100, 43, 115), rgb(198, 66, 110));
}

.input input[type="submit"]{
  background-color: #6f86d6;
  padding: .5rem 2rem;
  color: white;
  align-self: flex-end;
  border:none;
  transition: background-color .3s ease-in-out;
} 
.input input[type="submit"]:hover {
  cursor: pointer;
  background-color: #384e9d;
  
}

.error {
  padding: 1rem;
  border: 1px solid red;
  background-color: rgb(249, 121, 121);
  color: white;
  text-align: center;
}


#resultado {
  white-space: pre-wrap;
  padding: 2rem;
}

@media (min-width:768px) {
  .contenedor {
      display: flex;
      flex-wrap: wrap;
  }
  .contenedor > div {
      flex: 1 0 50%;
  }
}